<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\python\3.9\python.exe" 
                  arguments="-m gunicorn application:app --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --timeout 600" 
                  requestTimeout="00:10:00" 
                  startupTimeLimit="300" 
                  startupRetryCount="5" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="\\?\%home%\LogFiles\stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="1"/>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot"/>
        <environmentVariable name="APPINSIGHTS_INSTRUMENTATION_KEY" value="9af56b4d-4ad5-4643-ba29-41d154893ad4"/>
        <environmentVariable name="SIMULATION_MODE" value="true"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>